@using OnlineStore.BuisnessLogic.Models.Dto
@using Resources
@model OnlineStore.BuisnessLogic.Models.Table<OrderItemDto>

<div id="basketTablePartial">
    <table id="basketTable">
        <tr>
            <th class="basketTableTh">Name</th>
            <th class="basketTableTh">Price</th>
            <th class="basketTableTh">Count</th>
            <th class="basketTableTh basketTableThLast">Total</th>
        </tr>

        @{
            var rowOdd = 0;
            foreach (var order in Model.Data)
            {
                <tr @((rowOdd++)%2 == 1 ? "class=basketTableOddRow" : "class=basketTableEvenRow")>
                    <td class="basketTableTd">@order.Name</td>
                    <td class="basketTableTd">@order.Price</td>
                    <td class="basketTableTd">@order.Count</td>
                    <td class="basketTableTd">@order.Total</td>
                </tr>
            }
        }
    </table>
    <br/>
    @Html.Partial("_pager", Model.Pager)
</div>