@using OnlineStore.BuisnessLogic.Database.Models.Dto
@using Resources
@model OnlineStore.BuisnessLogic.Models.Table<ProductDto>

<div id="productCatalogTablePartial">
    <table id="productCatalogTable">
        <tr>
            <th class="productCatalogTableTh"></th>
            <th class="productCatalogTableTh">@Lang.ProductCatalog_HeaderCount</th>
            <th class="productCatalogTableTh"></th>
            <th class="productCatalogTableTh productCatalogTableIdColumn">ID</th>
            <th class="productCatalogTableTh">@Lang.ProductCatalog_HeaderName</th>
            <th class="productCatalogTableTh">@Lang.ProductCatalog_HeaderCategory</th>
            <th class="productCatalogTableTh productCatalogTableThLast">@Lang.ProductCatalog_HeaderPrice</th>
        </tr>

        @{
            var rowOdd = 0;
            foreach (var product in Model.Data)
            {
                <tr @((rowOdd++)%2 == 1 ? "class=productCatalogTableOddRow" : "class=productCatalogTableEvenRow")>
                    <td class="productCatalogTableTd">
                        @Ajax.ActionLink(Lang.ProductCatalog_ButtonAddToOrder, "AddToOrder", "ProductCatalog", new {id=@product.Id}, new AjaxOptions{OnSuccess = "onEditToOrderSuccess"}, new {@class="buttonStyle"})
                    </td>
                    <td class="productCatalogTableTd" id="count@(product.Id)">@product.OrderCount</td>
                    <td class="productCatalogTableTd">
                        @Ajax.ActionLink(Lang.ProductCatalog_ButtonRemoveFromOrder, "RemoveFromOrder", "ProductCatalog", new {id=@product.Id}, new AjaxOptions{OnSuccess = "onEditToOrderSuccess"}, new {@class="buttonStyle"})
                    </td>
                    <td class="productCatalogTableTd productCatalogTableIdColumn" id="id@(rowOdd)">@product.Id</td>
                    <td class="productCatalogTableTd">@product.Name</td>
                    <td class="productCatalogTableTd">@product.Category</td>
                    <td class="productCatalogTableTd">@product.Price</td>
                </tr>
            }
        }
    </table>
    <br/>
    @if (Model.Pager.PagesCount > 1)
    {
        var method = "PageChange";
        var controller = "ProductCatalog";
        var ajaxOptions = new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "productCatalogTablePartial"
        };
        var htmlAttributesLinks = new {@class = "pagerLinks"};
        var htmlAttributesCurrentLink = new {@class = "pagerLinks pagerCurrentLink"};

        <div class=
             "pager">
            @Ajax.ActionLink(Lang.PagerFirstLink, method, controller, new {pageIndex = 1}, ajaxOptions, htmlAttributesLinks)
            @Ajax.ActionLink(Lang.PagerPrevLink, method, controller, new {pageIndex = (Model.Pager.PageIndex - 1)}, ajaxOptions, htmlAttributesLinks)

            @foreach (var
                page in
                Model.Pager.Pages)
            {
                @Ajax.ActionLink(page.ToString(), method, controller, new {pageIndex = page}, ajaxOptions, page == Model.Pager.PageIndex ? htmlAttributesCurrentLink : htmlAttributesLinks)
            }

            @Ajax.ActionLink(Lang.PagerNextLink, method, controller, new {pageIndex = (Model.Pager.PageIndex + 1)}, ajaxOptions, htmlAttributesLinks)
            @Ajax.ActionLink(Lang.PagerLastLink, method, controller, new {pageIndex = Model.Pager.PagesCount}, ajaxOptions, htmlAttributesLinks)
        </div>
    }
</div>