@using Resources
@model OnlineStore.MvcWebProject.Models.Catalog.CatalogModel

@{
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

@section StyleSheets
{
    <link rel="Stylesheet" href="@Href("~/Content/StyleSheets/Catalog.css")"/>
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Catalog/Products.js")"></script>
}

<div id="catalogHeader">
    <span>@Lang.Catalog_Header</span>
</div>

<div id="catalogTableContainer">
    @if (Model.TableData != null && Model.TableData.Data != null && Model.TableData.Data.Length != 0)
    {
        @Html.Partial("_catalogTable", Model.TableData)

        if (Model.Search != null)
        {
            <br/>
            <br/>
            <div id="catalogSearchContainer">
                <div id="catalogSearchTitle">@Lang.Catalog_SearchText</div>
                @using (Html.BeginForm("Products", "Catalog", FormMethod.Get))
                {
                    <div id="catalogSearchPanel">
                        <span>@Lang.Catalog_SearchName</span>
                        @Html.TextBoxFor(x => x.Search.SearchName, new {Name = "name"})
                        <span>@Lang.Catalog_SearchCategory</span>
                        @Html.DropDownListFor(x => x.Search.SearchCategory, Model.Search.Categories, new {Name = "category"})
                        <span>   </span>
                        <input type="submit" value="@Lang.Catalog_ButtonSearch"/>
                    </div>
                }
            </div>
            <br/>
            <div id="catalogBasketDiv">
                @using (Html.BeginForm("Orders", "Basket"))
                {
                    <input type="submit" value="@Lang.Catalog_ButtonBasket"/>
                }
            </div>
        }
    }
    else
    {
        <div id="catalogSearchNoResult">@Lang.Catalog_SearchNoResult</div>
    }
</div>

