@using System.Drawing
@model OnlineStore.MvcWebProject.Models.ViewModelBase

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="@Url.Content("~/Content/StyleSheets/MainLayout.css?" + DateTime.Now.Ticks)" rel="stylesheet" type="text/css"/>
    @RenderSection("StyleSheets")
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
    @if (Model != null)
    {
        <title>@Model.Settings.Title</title>
    }
</head>
<body>
<div id="mainLayoutTop" class="table">
    <table style="width: 100%">
        <tr>
            <td class="mainLayoutTopTableTd mainLayoutTopTableTdLeft">
                <div>Language</div>
            </td>
            @if (Model != null)
            {
                if (Model.Settings.MoneyVisible)
                {
                    <td class="mainLayoutTopTableTd mainLayoutTopTableTdLeft dividerLeft">
                        <div>Money</div>
                    </td>
                }
                <td></td>
                if (Model.Settings.ProfileVisible)
                {
                    <td class="mainLayoutTopTableTd mainLayoutTopTableTdRight">
                        <div>Profile</div>
                    </td>
                }
                if (Model.Settings.LogoutVisible)
                {
                    <td class="mainLayoutTopTableTd mainLayoutTopTableTdRight dividerLeft">
                        <div>
                            @using (Html.BeginForm("LogOut", "MainLayout"))
                            {
                                <input type="submit" value="@Resources.Lang.MainLayout_LogOut"/>
                            }
                        </div>
                    </td>
                }
            }
        </tr>
    </table>
</div>
<div id="mainLayoutRenderBody">
    @RenderBody()
</div>
<div id="mainLayoutBottom">
    <hr/>
    <div class="horizontalCenter">
        @if (Model != null)
        {
            if (Model.Message != null)
            {
                @Html.Label(Model.Message.Text, new
                {
                    style = string.Format("color: {0}", ColorTranslator.ToHtml(Model.Message.Color))
                })
            }
        }
    </div>
</div>
</body>
</html>
