@using System.Drawing
@using Resources
@model OnlineStore.MvcWebProject.Models.ViewModelBase

@{
    if (Model != null)
    {
        Culture = UICulture = Model.Settings.SelectedLanguage;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="@Url.Content("~/Content/StyleSheets/MainLayout.css?" + DateTime.Now.Ticks)" rel="stylesheet" type="text/css"/>
    @if (IsSectionDefined("StyleSheets"))
    {
        @RenderSection("StyleSheets")
    }

    <script type="text/javascript" src="@Url.Content("~/Scripts/Common.js")"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
    @if (Model != null)
    {
        <title>@Model.Settings.Title</title>
    }
</head>
<body>
<div id="mainLayoutTop" class="table">
    <table style="width: 100%">
        <tr>
            <td class="mainLayoutTopTableTd mainLayoutTopTableTdLeft">
                @if (Model != null && !string.IsNullOrEmpty(Model.Settings.SelectedLanguage))
                {
                    var lang = Model.Settings.SelectedLanguage;
                    <div>
                        @Html.ActionLink("ru", "ChangeLanguage", "MainLayout", new {language = "ru-RU"}, new {@class = "mainLayoutLangImageButton" + (lang == "ru-RU" ? " selectedLang" : ""), style = "background-image: url(" + Url.Content("~/Content/Images/russia.jpg") + ")"})
                        <span>  </span>
                        @Html.ActionLink("en", "ChangeLanguage", "MainLayout", new {language = "en-US"}, new {@class = "mainLayoutLangImageButton" + (lang == "en-US" ? " selectedLang" : ""), style = "background-image: url(" + Url.Content("~/Content/Images/usa.jpg") + ")"})
                    </div>
                }
            </td>
            @if (Model != null)
            {
                if (Model.Settings.MoneyVisible)
                {
                    var currency = Model.Settings.SelectedCurrency;
                    <td class="mainLayoutTopTableTd mainLayoutTopTableTdLeft dividerLeft">
                        <div>
                            @Html.ActionLink("rub", "ChangeCurrency", "MainLayout", new {currency = "ru-RU"}, new {@class = "mainLayoutMoneyImageButton" + (currency == "ru-RU" ? " selectedCurrency" : ""), style = "background-image: url(" + Url.Content("~/Content/Images/rub.png") + ")"})
                            <span>  </span>
                            @Html.ActionLink("usd", "ChangeCurrency", "MainLayout", new {currency = "en-US"}, new {@class = "mainLayoutMoneyImageButton" + (currency == "en-US" ? " selectedCurrency" : ""), style = "background-image: url(" + Url.Content("~/Content/Images/usd.png") + ")"})
                            <span>  </span>
                            @Html.ActionLink("gbp", "ChangeCurrency", "MainLayout", new {currency = "en-GB"}, new {@class = "mainLayoutMoneyImageButton" + (currency == "en-GB" ? " selectedCurrency" : ""), style = "background-image: url(" + Url.Content("~/Content/Images/gbp.png") + ")"})
                        </div>
                    </td>
                }
                <td></td>
                if (!string.IsNullOrEmpty(Model.Settings.LinkProfileText))
                {
                    <td class="mainLayoutTopTableTd mainLayoutTopTableTdRight">
                        <div>
                            @Html.ActionLink(Model.Settings.LinkProfileText, "Info", "Profile", new {}, new {id = "hlUser"})
                        </div>
                    </td>
                }
                if (Model.Settings.LogoutVisible)
                {
                    <td class="mainLayoutTopTableTd mainLayoutTopTableTdRight dividerLeft">
                        <div>
                            @using (Html.BeginForm("LogOut", "MainLayout"))
                            {
                                <input type="submit" id="buttonSignOut" value="@Lang.MainLayout_LogOut"/>
                            }
                        </div>
                    </td>
                }
            }
        </tr>
    </table>
</div>
<div id="mainLayoutRenderBody">
    @RenderBody()
</div>
@if (Model != null && Model.Settings.BackVisible)
{
    <div id="mainLayoutButtonBackDiv">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <input type="submit" value="@Lang.MainLayout_ButtonBack" id="mainLayoutButtonBack"/>
        }
    </div>
}
<div id="mainLayoutBottom">
    <hr/>
    <div class="horizontalCenter">
        @if (Model != null)
        {
            if (Model.Message != null)
            {
                @Html.Label(Model.Message.Text, new
                {
                    style = string.Format("color: {0}", ColorTranslator.ToHtml(Model.Message.Color)),
                    id = "mainLayoutMessageLabel"
                })
            }
        }
    </div>
</div>
</body>
</html>
