@using Resources
@model OnlineStore.MvcWebProject.Models.Basket.BasketModel

@{
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

@section StyleSheets
{
    <link rel="Stylesheet" href="@Href("~/Content/StyleSheets/Basket.css?" + DateTime.Now.Ticks)"/>
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}

<br/>
<div id="basketHeader">
    <span>@Lang.Basket_Header</span>
</div>

<div id="basketTableContainer">
    @if (Model.TableData.Data != null && Model.TableData.Data.Length != 0)
    {
        @Html.Partial("_basketAllOrdersTable", Model.TableData)
    }
    else
    {
        <div id="basketSearchNoResult">@Lang.ProductCatalog_SearchNoResult</div>
    }
    <br/>
</div>
<div id="basketTotal">@Model.Total</div>
<br/>
<br/>
<div id="basketButtonBuy">
    @using (Html.BeginForm("Buy", "Basket"))
    {
        <input type="submit" value="Buy"/>
    }
</div>
<br/>
