@using Resources
@model OnlineStore.MvcWebProject.Models.Profile.ProfileModel

@{
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
}

@section StyleSheets
{
    <link rel="Stylesheet" href="@Href("~/Content/StyleSheets/Profile.css?" + DateTime.Now.Ticks)"/>
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Profile/Profile.js")"></script>
}

<div id="profileHeader">@Model.UserProfile.Login</div>

<div id="profileSettings">
    <div id="profilePerson">
        <img id="profileLoader" src="~/Content/Images/loader.gif" style="display: none" alt=""/>
        <div id="profileImageUploadContainer">
            <div class="table">
                <div id="profileImageContainer" class="tableCell">
                    <img id="profileImage" src="@Model.UserProfile.ImagePath" alt="No image"/>
                    <img id="profileLoaderForImage" src="@Url.Content("~/Content/Images/loader.gif")" alt="No image" style="display: none;"/>
                </div>
            </div>
            <div>
                <input type="text" id="urlToUpload" style="display: none;" value="@Url.Content("~/" + Model.Settings.SelectedLanguage + "/Profile/UploadImage")"/>
                <input type="file" id="fileUploader" name="file" style="display: none;" accept="image/*" onchange="onChosenImageChanged()"/>
                <br/>
                <input type="button" id="profileButtonImageChange" value="@Lang.Profile_ButtonChooseImage" onclick="onChangeImageClick()"/>
            </div>
        </div>
        <div id="profilePersonDataContainer">
            <div>
                @using (Ajax.BeginForm("ChangeProfile", "Profile", new {}, new AjaxOptions {HttpMethod = "POST", OnSuccess = "onProfileChangedSuccessfully", LoadingElementId = "profileLoader"}))
                {
                    @Html.Hidden("imageSrc", @Model.UserProfile.ImagePath, new {id = "profileHiddenImageSrc"})
                    @Lang.Profile_FirstName
                    <br/>
                    @Html.TextBoxFor(p => p.UserProfile.FirstName, new {Name = "firstName"})
                    <br/>
                    <br/>
                    @Lang.Profile_SecondName
                    <br/>
                    @Html.TextBoxFor(p => p.UserProfile.SecondName, new {Name = "secondName"})
                    <br/>
                    <br/>
                    <input type="submit" value="@Lang.Profile_ButtonChangeProfile"/>
                }
            </div>
        </div>
    </div>
    <div id="profilePasswordContainer">
        <img id="profilePasswordLoader" src="~/Content/Images/loader.gif" style="display: none; float: right;" alt=""/>
        <div id="profilePasswordForm" style="float: right;">
            @using (Ajax.BeginForm("ChangePassword", "Profile", new {}, new AjaxOptions {HttpMethod = "POST", OnSuccess = "onPasswordChanged", LoadingElementId = "profilePasswordLoader"}))
            {
                @Lang.Profile_OldPassword
                <br/>
                @Html.TextBoxFor(p => p.Password.Old, new {Name = "oldPassword"})
                <br/>
                <br/>
                @Lang.Profile_NewPassword
                <br/>
                @Html.TextBoxFor(p => p.Password.New, new {Name = "newPassword"})
                <br/>
                <br/>
                @Lang.Profile_RepeatPassword
                <br/>
                @Html.TextBoxFor(p => p.Password.Repeat, new {Name = "repeatPassword"})
                <br/>
                <br/>
                <input type="submit" value="@Lang.Profile_ButtonChangePassword"/>
            }
        </div>
    </div>
</div>
<div id="profileHistory">
    <hr/>
    <div id="profileHistoryHeader">@Lang.Profile_HeaderHistory</div>
    <div id="profileHistoryTable">
        @if (Model.TableData.Data != null && Model.TableData.Data.Length != 0)
        {
            @Html.Partial("_profileTable", Model.TableData)
        }
        else
        {
            <div id="profileSearchNoResult">@Lang.ProductCatalog_SearchNoResult</div>
        }
        <br/>
    </div>
</div>

